#content_wrapper{
	border-style: double;
	border-width: 2px;
	padding:15px;
	width:60%;
	-webkit-border-radius: 42px;
	-moz-border-radius: 42px;
	border-radius: 42px;
	background-color:white;
}

#title{
	padding-left:10px;
	color:black;
	text-decoration: underline;
	text-decoration-color: red;
    -moz-text-decoration-color: red; /* Code for Firefox */
}

#logo{
	height: 35px;
	width: 35px;
	padding-right:5px;
}

select, input{
	-webkit-border-radius: 42px;
	-moz-border-radius: 42px;
	border-radius: 42px;
	padding:5px;
}

#task_table ,#task_table td, #task_table th{
	border-style: solid;
	border-width:1px;
	border-color:black;
}

#task_table .description{
	width: 500px;
}

#menu li{
	display: inline;
}

#menu li a{
	border: 2px solid black;
	-webkit-border-radius: 42px;
	-moz-border-radius: 42px;
	border-radius: 42px;
	text-decoration: none;
	padding: .2em 1em;
	color: black;
	background-color: white;
}

#menu li a:hover{
	color: white;
	background-color: grey;
}

ul#menu{
	text-align:center;
	width:61%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 2px solid black;
	-webkit-border-radius: 42px;
	-moz-border-radius: 42px;
	border-radius: 42px;
 }